

<footer>
    <div class="pull-right">
        Easy Cash Müşteri Paneli @DateTime.Now.Year | Tüm Hakları Saklıdır <a href="https://hasanbozkus.com.tr">&copy; Hasan BOZKUŞ</a>
    </div>
    <div class="clearfix"></div>
</footer>